<!DOCTYPE html>
<html lang=”en”>

<head>

    <title>HOTzone Fire Map</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />

    <!-- This is for Flask -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>

    <nav class="navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <li >
                        <a href="/">
                        <img src="static/images/home.png" alt="home" width="20" height="20" hspace="5">
                        </a>
                    </li>
                    <li><a href="/#proj">About the Project - Why It Matters</a></li>
                    <li><a href="/#expert">Discussion with Experts</a></li>
                    <li><a href="/#alg">How HOTzone Works</a></li>
                    <li><a href="/#data">Data Source / References</a></li>
                    <li><a href="/#us">About the Team</a></li>
                    <li><a>||</a></li>
                    <li><a href="/fire_map"><img src="static/images/hotzonet.png" alt="HOTzone" width="54" height="20" hspace="5"> App</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header for App -->
    <div class="col-lg-5 text-left">
        <br>
        <br>
        <br>
        <h4>Instruction:<br><br>Please enter an address below to see if there is an active fire within 100 miles of that location and see its potential spread in the next 24 hours.</h4>
        <br>
    </div>
    <div class="col-lg-2 text-center">
        <br>
        <br>
        <br>
        <h2 class="section-heading"><img src="static/images/hotzone_icon.png" alt="HOTzone" width="150" height="150"></h2>
        <br>
    </div>

    <div class="col-lg-5 text-left">
        <br>
        <br>
        <br>
        <h4>Note:<br><br>Current fire spread prediction is limited to within 100 miles of Berkeley, CA.<br>The team is working on expanding the model beyond this area.
        <br>However, a list of current active fires in the United States are provided below for reference.</h4>
    </div>

    <div class="col-lg-12 text-center">
        <hr class="primary">
        <h3>Day 1 potential fire spread</h3>
        <br>
        <h3>Enter address of interest</h3>
        <p>For precision, enter address with details</p>
        <p>Example: 2535 Channing Way, Berkeley, CA</p>
        <br>
        <form method = "POST">
            <p><input name = "address" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
        <br>
        <p>Explore map by dragging or zooming in/out with mouse/mousepad, or click on map and use - and + to zoom in/out with keyboard</p>
        <br>
    </div>

    <div class="col-lg-2 text-center">
        <br>
        <br>
    </div>

    <div class="lnkButton col-lg-4 text-center">
        <form action="/fire_map1" method="post">
            <button name="forwardBtn" type="submit">Day 1 Fire Perimeter</button>
        </form>
    </div>

    <div class="lnkButton col-lg-4 text-center">
        <form action="/fire_map2" method="post">
            <button name="forwardBtn" type="submit">Day 2 Fire Perimeter</button>
        </form>
    </div>

    <div class="col-lg-2 text-center">
        <br>
        <br>
    </div>

    <div id='map' style='width: 1800px; height: 700px; margin-right: auto; margin-left: auto;'>

        <script>

            var mapkey = '{{ACCESS_KEY}}'

            mapboxgl.accessToken = mapkey;

            poly_output_day1 = {{map_output_day1|safe}}

            // poly_output_day2 = {{map_output_day2|safe}}

            geo_center = {{geo_center|safe}}

            add_loc = {{add_loc|safe}}

            geo_fire = {{geo_fire|safe}}

            no_fire = {{no_fire|safe}}

            outside_bound = {{outside_bound|safe}}

            if ( outside_bound ) {
                alert("We apologize for the inconvenience.  The address of interest is currently outside the geographical boundary of our trained machine learning model.  Due to potential differences in terrains and other geographical factors, we are not able to accurately predict active fire spread beyond this boundary.  We are working on expanding, please check back soon.  Thank you.");
            }

            if ( no_fire ) {
                alert("Based on the address you have entered, we find no active fire within 100 miles of this location.");
            }

            // initiate map
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                // style: 'mapbox://styles/mapbox/satellite-v9',
                center: add_loc,
                zoom: 10
            });

            // add blue marker for address of interest
            var marker = new mapboxgl.Marker() // Initialize a new marker
                .setLngLat(add_loc) // Marker [lng, lat] coordinates
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h4>' + "YOU ARE HERE" + '</h4>'))
                .addTo(map); // Add the marker to the map


            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.backgroundImage = 'static/images/fire_icon.png';

            // add fire marker for active fire locations
            var i;

            for (i = 0; i < geo_fire.length; i++) {
                // var marker = new mapboxgl.Marker(el) // Initialize a new marker
                var marker = new mapboxgl.Marker({color: 'red'}) // Initialize a new marker
                    .setLngLat(geo_fire[i]) // Marker [lng, lat] coordinates
                    .addTo(map); // Add the marker to the map
                };

            map.on('load', function() {
                map.addSource('national-park', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                        {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Polygon',
                                'coordinates': [ poly_output_day1
                            ]
                        }
                    },
                    ]
                }
            });

                map.addLayer({
                    'id': 'park-boundary',
                    'type': 'line',
                    'source': 'national-park',
                    'paint': {
                        'line-color': '#FF5733',
                        'line-width': 5,
                        'line-opacity': 0.8
                    },
                    'filter': ['==', '$type', 'Polygon']
                });

            });


        </script>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <h2 class="section-heading">List of current Active Fires in the United States</h2>
                <h5>http://data-nifc.opendata.arcgis.com/</h5>
                <br>
                <br>
            </div>
        </div>
    </div>

    <div class=page align="center">
        {% for table in fire_table %}
            {{ table|safe }}
        {% endfor %}
    </div>

    <div class="col-lg-12 text-center">
        <br>
        <br>
        <h1>Thank you for visiting!</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>




<script src="jquery-csv.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
