<!DOCTYPE html>
<html lang=”en”>

<head>

    <title>HOTzone</title>
	<!-- <link rel="shortcut icon" href="../static/images/favicon.ico"> -->
	<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- This is for Flask -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="loc.js"></script>

</head>

<body>

    <nav class="navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <li ><a href="/">
                        <img src="static/images/home.png" alt="home" width="20" height="20" hspace="5"></li></a>
                    <li><a href="/#proj">About the Project - Why It Matters</a></li>
                    <li><a href="/#expert">Discussion with Experts</a></li>
                    <li><a href="/#alg">How HOTzone Works</a></li>
                    <li><a href="/#data">Data Sources / References</a></li>
                    <li><a href="/#us">About the Team</a></li>
                    <li><a>||</a></li>
                    <li><a href="/fire_map"><img src="static/images/hotzonet.png" alt="HOTzone" width="54" height="20" hspace="5"> App</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper-banner" id="banner-id">
        <img class="banner-img" src="static/images/hz_cover.jpg" alt="fire">
    </div>

<a name="proj"></a>

    <div class="wrapper-white-bg" id="white-bg">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="row justify-content-lg-center">
                <div >
                    <br>
					<br>
                    <img src="static/images/hotzone_icon.png" alt="logo" class="img-resp pull-left" width="350" height="350">
                    <h2 class="lead">
                    <p style="font-size:1.10vw">Millions of acres burn annually in wildfires across the globe. As population grows, as climate change challenges the environment, and as wildfires grow in intensity and frequency, every second of warning counts.
                    <br>
                    <br>
                    Wildfires pose threats to all life forms and properties. Climate change and population growth have combined to put people and infrastructure at high risk from wildfire. The 2019 Kincade Fire in California’s Sonoma County burned an area twice the size of San Francisco. The November 2018 Camp Fire near Sacramento, California caused 85 fatalities and an estimated $16.5 billion in damage.
                    <br>
                    <br>
                    There is no fire prediction application that caters to the general public, to allow users to check wildfire predictions near their location of interest. The public usually has to wait for a utility or government to inform them of threatening wildfire conditions. The HOTzone application was created to bridge this gap. We combine historical fire data, weather data, machine learning, and a user-friendly web interface to predict the spread of an active wildfire near a user-provided location, providing more timely warnings.
                    </p>
                    <br>
					<br>
                    </h2>
                </div>
                <div class="banner-parallax-flex" style="background-image:url('static/images/wildfire2.jpg');overflow:auto; max-width: 1800px; max-height: 800px; margin: auto">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">California Wildfires</h2>
                    <h6>https://www.fire.ca.gov/incidents</h6>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-bar-chart fastyle" style="visibility: visible;"></i>
                    <h3>Year</h3>
                    <p class="text-muted">2017</p>
                    <p class="text-muted">2018</p>
                    <p class="text-muted">2019</p>
                    <p class="text-muted">2020</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-fire fastyle" style="visibility: visible;"></i>
                    <h3>Total Wildfires</h3>
                    <p class="text-muted">9,270</p>
                    <p class="text-muted">7,639</p>
                    <p class="text-muted">7,860</p>
                    <p class="text-muted">595</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-tree fastyle" style="visibility: visible;"></i>
                    <h3>Acres Burned</h3>
                    <p class="text-muted">1,548,429</p>
                    <p class="text-muted">1,963,101</p>
                    <p class="text-muted">259,823</p>
                    <p class="text-muted">1,237</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-ambulance fastyle" style="visibility: visible;"></i>
                    <h3>Fatalities</h3>
                    <p class="text-muted">47</p>
                    <p class="text-muted">100</p>
                    <p class="text-muted">3</p>
                    <p class="text-muted">0</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-building fastyle" style="visibility: visible;"></i>
                    <h3>Structures Damaged</h3  >
                    <p class="text-muted">10,280</p>
                    <p class="text-muted">24,226</p>
                    <p class="text-muted">732</p>
                    <p class="text-muted">0</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-dollar fastyle" style="visibility: visible;"></i>
                    <h3>Total Cost</h3>
                    <p class="text-muted">unknown</p>
                    <p class="text-muted">unknown</p>
                    <p class="text-muted">163,000,000</p>
                    <p class="text-muted">unknown</p>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="banner-parallax-flex" style="background-image:url('static/images/wildfire19.jpg');overflow:auto; max-width: 1800px; max-height: 800px; margin: auto">
        </div>

<a name="expert"></a>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 class="section-heading">"State of the Art" Discussion</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-10" style="font-size:1vw">
        <h2 style="color:#FF4f00;">Papers and Discussion</h2>
        <br>
        <p>Much of the existing work on fire prediction centers around predicting the final fire perimeter. Other work focuses on predicting the risk that an area will experience a fire if one <b>is</b> ignited. Early work to predict final fire perimeters using machine learning started in approximately 2010 using a dataset from Montesinho, Portugal which was featured in a kaggle competition (Cortez & Morais, n.d.). This early work on perimeter modeling determined that the best predictions were obtained using a Support Vector Machine (SVM) with 4 meteorological inputs (temperature, relative humidity, rain and wind). The predicted value of the final burned area was accurately predicted to within 2 hectares approximately 61% of the time.
        <br>
        <br>
        Other studies also looked at the ability to predict final burned area (Coffield et al., 2019), using weather and vegetation type as inputs. A reanalysis of global fire data from 1980-2018 created updated climate predictors for daily fire danger forecasts (Vitolo et al., 2019).
        <br>
        <br>
        The state of the art in predicting wildfire growth using machine learning are AI and deep learning methods which predict the areas around a burning wildfire which have the highest risk of burning. A robust approach is presented by Subramanian and Crowley (Subramanian & Crowley, 2018) using a Monte Carlo Tree Search method. The most recent method, FireCast, was presented in 2019 (Radke et al., 2019) and utilises a convolutional neural network with inputs of historical fire data, weather data and satellite data on vegetation, land elevation and aspect. Input data is on a 30m x 30m grid. The Radke et. al. approach achieved an F-score of 6.4% compared to a random prediction of 1.0%.
        <br>
        <br>
        On-the-ground fire fighting relies on extremely detailed physics based fire forecasting models. These types of models have been developed by corporations like Pacific Gas and Electric (2020-Wildfire-Safety-Plan.pdf, 2020), by independent consultants to government (Lautenberger, 2013) or by government agencies like Natural Resources Canada (Tymstra & Northern Forestry Centre (Canada), 2010). These models are extremely computationally intensive and allow for hour or minute level predictions of fire growth as well as scenario modeling to plan fire response. See the discussion below regarding our interviews with fire experts Ken Bisgrove and Gary Mandrusiak in their use of the Prometheus physics based model in fire-fighting and suppression activities.
        <br>
        <br>
        </p>
        <h2 style="color:#FF4f00;">Expert Interviews</h2>
        <br>
        <h4>In the course of our research, we conducted interviews with experts in the fields of earth and fire science.</h4>
        <br>
        <h3>Dr. Trevor Keenan, Lawrence Berkeley National Laboratory and University of California Berkeley</h3>
        <br>
        <p>Dr. Keenan’s work focuses on Ecosystem Science where he models carbon fluxes as timeseries data using a single layer neural net. This approach can explain approximately 80% of the variability for short term changes, but is much less accurate for longer term (yearly) changes.
        <br>
        <br>
        His suggestions for the fire prediction project included:
        <ul>
            <li>Using the “vegetation optical depth” (VOD) for sensing biomass as a proxy for moisture in the system. This VOD is obtained from microwave frequency satellite images in the L-band. This could be combined with the NDVI concept to get a more accurate picture of the fuel for a fire.</li>
            <li>Earliest possible identification of a fire (e.g. by differentiating a smoke plume from clouds using satellite imagery from Planet Labs) would like be an excellent improvement in order to get an early ‘ignition point’.</li>
            <li>Similarly, Planet Labs has very high resolution and frequent satellite images, which could provide more detailed information about recent fires for use in future versions of the model.</li>
        </ul>
        </p>
        <br>
        <h3>Ken Bisgrove - Director, Suncor Energy and<br>
         Gary Mandrusiak, Wildfire Management Specialist
        </h3>
        <br>
        <p>Ken and Gary both have a long history of working to predict forest fire growth in order to assist suppression and mitigation efforts on the ground. They were heavily involved in fighting the massive Horse River forest fire that took over the Fort McMurray area of Northern Alberta in 2016 (“2016 Fort McMurray wildfire,” 2020). This fire caused the evacuation of approximately 90,000 people in just over 2 days and and estimated cost of $CAD9.9 billion.  
        <br>
        <br>
        During the Horse River wildfire, the team assisting the suppression and mitigation efforts relied on a piece of software that was written to predict wildfire behaviour in the short-term for immediate use in planning a fire-fighting response called Prometheus (FireGrowthModel.ca—Prometheus, n.d.). This software “computes spatially-explicit fire behaviour and spread outputs given heterogeneous fuel, topography and weather conditions” and allows fire experts to deterministically predict outcomes of various scenarios of fire suppression activity, fire fighting activity and weather conditions. It was developed to help fire managers ‘understand the probable consequences of their decisions’ (Tymstra & Northern Forestry Centre (Canada), 2010). It allows the fire managers to run a simulated fire and adjust various conditions as needed to determine the best approach to fighting the fire.
        <br>
        <br>
        The underlying model(s) in Prometheus require inputs on fuel type (e.g. vegetation type), land features (slope, aspect and elevation) and hourly weather data. Equations solved during a model run describe fire spread based on solving a system of partial differential equations. The outputs from the model are speed of fire travel and polygons describing the perimeter of the fire at each time step. This model, while highly detailed, is computationally expensive and requires a high level of expertise to run. Accuracy of the model was within 1-2 km of the actual spread approximately 50% of the time.
        <br>
        <br>
        The predictions of the model are extremely sensitive to the quality of the input weather. For the Horse River Wildfire, the team used the ‘best’ of 6 available weather forecasts each time the model was run. Additionally, the model is very sensitive to the type of fuel on the ground, and the inventory of that fuel is not always accurate to the degree required for accurate fire simulations.
        <br>
        <br>
        Other inaccuracies in this deterministic, physics based approach are caused by inaccurate ignition points. An accurate start coordinate is important for accurate modeling and an error of even 1 km in ignition location could alter the fuel type enough that the simulation is inaccurate. Fire perimeters for active, existing fires are difficult to determine accurately, and the best data was found to come from satellites, although granularity was hampered by infrequent satellite passes and operational error in converting time.
        <br>
        <br>
        Future work to improve Prometheus includes the addition of higher level winds (e.g. upper level jets) and the effect of weather generated by the fire itself (pyrocumulus). Another area of research is how to predict and include the additional ‘spot fires’ - those fires which are ignited ahead of the main fire from sparks thrown by the fire.
        <br>
        <br>
        <br>
        </p>
    </div>

        <div class="col-lg-1">
        </div>

        <div class="banner-parallax-flex" style="background-image:url('static/images/wildfire14.jpg');overflow:auto; max-width: 1800px; max-height: 800px; margin: auto">
        </div>

<a name="alg"></a>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 class="section-heading">How HOTzone Works</h2>
                    <hr class="primary">
                    <img src="static/images/hotzone_icon.png" alt="logo" class="img-responsive img-us" width="150" height="150">
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-10" style="font-size:1vw">
            <p>Existing fire growth predictions use computationally intensive physics based models, proprietary data or are not for general public use. HOTzone solves all three of these issues. HOTzone is open source, uses publicly available fire and weather data and delivers predictions via a web application accessible by the general public.
            <br>
            <br>
            HOTzone uses a Convolutional Neural Network (CNN) algorithm to predict the potential spread of an active fire. Using hierarchical patterns identified in the training data, the model assembles more complex pattersn using smaller and simpler patterns.  The model learns the dependencies between the different pixels, learns whether a pixel will be on "fire" based on whether the pixels around it are on "fire". For those interested, the CNN used is a 7 layer model with 2 convolutional layers, one average pooling layer, two max pooling layers and two dropout layers.
            <br>
            <br>
            Currently, HOTzone is a web application that takes a location input from users, check to see if there is an active fire within 100 miles of that address.  If there is a nearby active fire, the current fire perimeter will be fed into the model.  In return, the model will predict how the current fire will spread in the next 24 hours.  The potential perimeter describing how the fire may spread for the next day will be shown on the map.  If there is no active fire nearby, the user will be prompted with a message that there is no active fire within 100 miles radius.
            <br>
            <br>
            Given the complications and differences in terrains and other geographical factors, currently HOTzone can only make reasonable predictions for fires that occur within the geographical boundary of the training dataset.  If users input a location outside the geographical boundary over which the model was trained, the application will return a message that it is currently not possible to provide a prediction.
            <br>
            <br>
        	</p>
            <h3 style="color:#FF4f00;">Future Development of HOTzone</h3>
            <br>
            <p>Future versions of HOTzone should ensure that vegetation data such as Vegetation Optical Depth (as a proxy for moisture) and the Normalized Difference Vegetation Index are included. Other additional features such as fuel type and landscape features of elevation, aspect and pitch should also be included. We foresee that models should be trained in local areas in order to be as accurate as possible, and thus provide the best predictions. These local models should be stitched together within the application to create the grid of models required to accurately predict fire growth, and yet provide a seamless experience to the user. The HOTzone model and web application currently use open source weather data from DarkSky, but the open source access will end in 2021 following DarkSky's acquisition by Apple Inc. A future open source weather data alternative must be found. 
        	</p>
        	<br>
        	<br>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="banner-parallax-flex" style="background-image:url('static/images/wildfire28.jpg');overflow:auto; max-width: 1800px; max-height: 800px; margin: auto">
        </div>

<a name="data"></a>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 class="section-heading">Data Sources / References</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-10" style="font-size:0.8vw">
            <h5>This project would not have been possible without the many resources provided by the generosity of others on the Internet.</h5>
            <br>
            <br>
            <ul style="list-style-type:none;">
                <li><a href="http://data-nifc.opendata.arcgis.com/">National Interagency Fire Center - Wildland Fire Open Data</a></li>
                <br>
                <li><a href="https://opendata.arcgis.com/datasets/5da472c6d27b4b67970acc7b5044c862_0.geojson">Wildland Fire Open Data Json dataset</a></li>
                <br>
                <li><a href="https://medium.com/@petehouston/calculate-distance-of-two-locations-on-earth-using-python-1501b1944d97">Pete Houston - Calculate distance of two locations on Earth using Python</a></li>
                <br>
                <li><a href="https://streamhacker.com/2010/03/23/python-point-in-polygon-shapely">Jacob - Python Point-in-Polygon with Shapely</a></li>
                <br>
                <li><a href="https://www.mapbox.com">Mapbox.com</a></li>
                <br>
                <li><a href="https://stackoverflow.com">Stackoverflow.com</a></li>
                <br>
                <li><a href="https://darksky.net">Dark Sky</a></li>
                <br>
                <li>--------------------</li>
            </ul>
            <br>
            <ul style="list-style-type:none;">
            	<li>2016 Fort McMurray wildfire. (2020). In <i>Wikipedia</i>.<a href="https://en.wikipedia.org/w/index.php?title=2016_Fort_McMurray_wildfire&amp;oldid=935431323"> https://en.wikipedia.org/w/index.php?title=2016_Fort_McMurray_wildfire&amp;oldid=935431323</a></li>
            	<br>
            	<li>2020-Wildfire-Safety-Plan.pdf (p. 494). (2020). [Planning]. Pacific Gas and Electric Company.<a href="https://www.pge.com/pge_global/common/pdfs/safety/emergency-preparedness/natural-disaster/wildfires/wildfire-mitigation-plan/2020-Wildfire-Safety-Plan.pdf"> https://www.pge.com/pge_global/common/pdfs/safety/emergency-preparedness/natural-disaster/wildfires/wildfire-mitigation-plan/2020-Wildfire-Safety-Plan.pdf</a></li>
            	<br>
            	<li>Ager, A. A., Vaillant, N. M., Finney, M. A., & Preisler, H. K. (2012). Analyzing wildfire exposure and source–sink relationships on a fire prone forest landscape. <i>Forest Ecology and Management</i>, <i>267</i>, 271–283.<a href="https://doi.org/10.1016/j.foreco.2011.11.021"> https://doi.org/10.1016/j.foreco.2011.11.021</a></li>
            	<br>
            	<li>Andela, N., Morton, D. C., Giglio, L., Paugam, R., Chen, Y., Hantson, S., Werf, G. R. van der, & Randerson, J. T. (2019). The Global Fire Atlas of individual fire size, duration, speed and direction. <i>Earth System Science Data</i>, <i>11(2)</i>, 529–552.<a href="https://doi.org/10.5194/essd-11-529-2019"> https://doi.org/10.5194/essd-11-529-2019</a></li>
            	<br>
            	<li>Andela, N., Morton, D. C., Giglio, L., & Randerson, J. T. (2019). <i>Global Fire Atlas with Characteristics of Individual Fires</i>, <i>2003-2016</i> [Data set].<a href="https://doi.org/10.3334/ORNLDAAC/1642"> https://doi.org/10.3334/ORNLDAAC/1642</a></li>
            	<br>
            	<li><i>Canadian Wildland Fire Information System _ Canadian Forest Fire Weather Index (FWI) System.pdf.</i> (n.d.).</li>
            	<br>
            	<li>Coffield, S. R., Graff, C. A., Chen, Y., Smyth, P., Foufoula-Georgiou, E., & Randerson, J. T. (2019). Machine learning to predict final fire size at the time of ignition. <i>International Journal of Wildland Fire</i>, <i>28</i>(11), 861.<a href="https://doi.org/10.1071/WF19023"> https://doi.org/10.1071/WF19023</a></li>
            	<br>
            	<li>Cortez, P., & Morais, A. (n.d.). <i>A Data Mining Approach to Predict Forest Fires using Meteorological Data</i>. 12.</li>
            	<br>
            	<li>Crowley, M. A., Cardille, J. A., White, J. C., & Wulder, M. A. (2019). Generating intra-year metrics of wildfire progression using multiple open-access satellite data streams. <i>Remote Sensing of Environment</i>, <i>232</i>, 111295.<a href="https://doi.org/10.1016/j.rse.2019.111295"> https://doi.org/10.1016/j.rse.2019.111295</a></li>
            	<br>
            	<li>Finney, M. A. (2002). Fire growth using minimum travel time methods. <i>Canadian Journal of Forest Research</i>, <i>32</i>(8), 1420–1424.<a href="https://doi.org/10.1139/x02-068"> https://doi.org/10.1139/x02-068</a></li>
            	<br>
            	<li><i>FireGrowthModel.ca—Prometheus</i>. (n.d.). Retrieved March 28, 2020, from<a href="http://www.firegrowthmodel.ca/prometheus/overview_e.php"> http://www.firegrowthmodel.ca/prometheus/overview_e.php></a></li>
            	<br>
            	<li><i>Fuels Management-How to Measure Success: Conference Proceedings</i>. (n.d.). 17.</li>
            	<br>
            	<li>Lautenberger, C. (2013). Wildland fire modeling with an Eulerian level set method and automated calibration. <i>Fire Safety Journal</i>, <i>62</i>, 289–298.<a href="https://doi.org/10.1016/j.firesaf.2013.08.014"> https://doi.org/10.1016/j.firesaf.2013.08.014</a></li>
            	<br>
            	<li>Radke, D., Hessler, A., & Ellsworth, D. (2019). FireCast: Leveraging Deep Learning to Predict Wildfire Spread. <i>Proceedings of the Twenty-Eighth International Joint Conference on Artificial Intelligence</i>, 4575–4581.<a href="https://doi.org/10.24963/ijcai.2019/636"> https://doi.org/10.24963/ijcai.2019/636</a></li>
            	<br>
            	<li>Subramanian, S. G., & Crowley, M. (2018). Combining MCTS and A3C for Prediction of Spatially Spreading Processes in Forest Wildfire Settings. In E. Bagheri & J. C. K. Cheung (Eds.), <i>Advances in Artificial Intelligence</i> (pp. 285–291). Springer International Publishing.<a href="https://doi.org/10.1007/978-3-319-89656-4_28"> https://doi.org/10.1007/978-3-319-89656-4_28</a></li>
            	<br>
            	<li>Tymstra, C., & Northern Forestry Centre (Canada). (2010). <i>Development and structure of Prometheus: The Canadian Wildland Fire Growth Simulation Model</i>. Northern Forestry Centre.<a href="https://central.bac-lac.gc.ca/.item?id=31775&op=pdf&app=Library"> https://central.bac-lac.gc.ca/.item?id=31775&op=pdf&app=Library</a></li>
            	<br>
            	<li>Vitolo, C., Di Giuseppe, F., Krzeminski, B., & San-Miguel-Ayanz, J. (2019). A 1980–2018 global fire danger re-analysis dataset for the Canadian Fire Weather Indices. <i>Scientific Data</i>, <i>6</i>(1), 190032.<a href="https://doi.org/10.1038/sdata.2019.32"> https://doi.org/10.1038/sdata.2019.32</a></li>
            	<br>
            	<li><i>Wildfire-MNP-Report.pdf</i>. (n.d.). Retrieved February 2, 2020, from<a href="https://www.alberta.ca/assets/documents/Wildfire-MNP-Report.pdf"> https://www.alberta.ca/assets/documents/Wildfire-MNP-Report.pdf</a></li>
            	<br>
            </ul>
            <a href="https://darksky.net"><img src="/static/images/darksky.png" class="img-us" alt=darksky width="80" height="40"></a>
            <br>
            <br>
        </div>

        <div class="banner-parallax-flex" style="background-image:url('static/images/wildfire12.jpg');overflow:auto; max-width: 1800px; max-height: 800px; margin: auto">
        </div>

<a name="us"></a>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">Meet Our Team</h2>
                    <hr class="primary">
                    <h4>We are graduate students at the University of California Berkeley iSchool's Master of Information and Data Science (MIDS) Program.
                    </h4>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div>
            <div class="pt-3 mt-2">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div>
                        <div>
                            <div class="container-us">
                                <img src="static/images/laura.jpg" class="img-us" alt=laura width="200" height="200">
                            </div>
                            <p class="text-us title-desc">
                                <br>Data Scientist<br>
                            </p>
                        </div>
                        <div>
                            <div class="text-us p-desc">
                                Laura Chutny
                                <p align="center">
                                    <a href="https://www.linkedin.com/in/lchutny/"><img src="static/images/linkedin_logo.png" alt="linkedIn" width="20" height="20" hspace="15">
                                    </a>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div>
                        <div>
                            <div class="container-us">
                                <img src="static/images/keane.jpeg" class="img-us" alt=keane width="200" height="200">
                            </div>
                            <p class="text-us title-desc">
                                <br>Senior Analyst<br>
                            </p>
                        </div>
                        <div>
                            <div class="text-us p-desc">
                                Keane Johnson
                                <p align="center">
                                    <a href="https://www.linkedin.com/in/keane-johnson/"><img src="static/images/linkedin_logo.png" alt="linkedIn" width="20" height="20" hspace="15">
                                    </a>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div>
                        <div>
                            <div class="container-us">
                                <img src="static/images/thanh.jpg" class="img-us" alt=thanh width="200" height="200">
                            </div>
                            <p class="text-us title-desc">
                                <br>Data Scientist<br>
                            </p>
                        </div>
                        <div>
                            <div class="text-us p-desc">
                                Thanh Le
                                <p align="center">
                                    <a href="https://www.linkedin.com/in/thanh-le/"><img src="static/images/linkedin_logo.png" alt="linkedIn" width="20" height="20" hspace="15">
                                    </a>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="wrapper-banner" id="banner-id">
        <img class="banner-img1" src="static/images/wildfire_banner.jpg" alt="fire1">
    </div>

<script src="jquery-csv.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
